<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/lib/jakarta-taglibs-standard-1.1.2/tld/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>ModifyPassword</servlet-name>
    <servlet-class>com.chen.servlet.ModifyPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPassword</servlet-name>
    <url-pattern>/servlet/ModifyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitHomework</servlet-name>
    <servlet-class>com.chen.servlet.SubmitHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitHomework</servlet-name>
    <url-pattern>/servlet/SubmitHomework</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>